.section {

  // .section__featured

  &__featured {
    background-color: rgb(247, 186, 186);
    padding: 100px 0;

    @media (max-width: $breakpoint992) {
      padding: 70px 0;
    }

    @media (max-width: $breakpoint768) {
      padding: 50px 0;
    }

    @media (max-width: $breakpoint480) {
      padding: 30px 0;
    }
  }
}

.featured {

  // .featured__inner

  &__inner {
    text-align: center;
  }

  // .featured__title

  &__title {
    text-transform: uppercase;
    font-size: 36px;
    margin-bottom: 50px;
    @media (max-width: $breakpoint768) {
      margin-bottom: 30px;
    }
  
    @media (max-width: $breakpoint480) {
     margin-bottom: 15px;
    }
  }

  // .featured__items

  &__items {
 
  }

  // .featured__list

  &__list {
       display: flex;
       justify-content: space-between;
       align-items: center;
       column-gap: 20px;
       @media (max-width: $breakpoint992) {
       flex-wrap: wrap;
       row-gap: 20px;
       justify-content: center;
      }
  }

  // .featured__item

  &__item {
  }

  // .featured__link

  &__link {
  }
}

