@font-face {
  font-family: 'DINPro-Condensed';
  src: url('fonts/DINPro-CondensedBold.woff') format('700');
}

@font-face {
  font-family: 'DINPro-Condensed';
  src: url('fonts/DINPro-CondensedBold.woff2') format('700');
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Regular.woff') format('400');
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Regular.woff2') format('400');
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Medium.woff') format('500');
}

@font-face {
  font-family: 'Graphik';
  src: url('fonts/Graphik-Medium.woff2') format('500');
}