// Footer
.footer {
  background-color: #262425;
  // .footer__inner

  &__inner {
    display: flex;
    flex-direction: column;
    padding: 100px 0 20px 0;
    @media (max-width: $breakpoint992) {
      padding: 70px 0 20px 0;
    }
  
    @media (max-width: $breakpoint768) {
     padding: 30px 0 20px 0;
    }
  
    @media (max-width: $breakpoint480) {
      padding: 10px  0;
      
    }
  }

  // .footer__top

  &__top {
    display: flex;
    justify-content: space-between;
    margin-bottom: 100px;
    @media (max-width: $breakpoint992) {
      margin-bottom: 70px;
      flex-direction: column;
      align-items: center;
      align-items: flex-start;
     align-self: center;
     row-gap: 30px;
    }
  
    @media (max-width: $breakpoint768) {
      margin-bottom: 50px;
    }
  
    @media (max-width: $breakpoint480) {
      margin-bottom: 30px;

    }
  }

  // .footer__logo

  &__logo {

    @media (max-width: $breakpoint480) {
       
      img{
        display: block;
        max-width: 150px;
      }
       
     }
  }

  // .footer__links

  &__links {
    display: flex;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;
    text-transform: uppercase;
    color: #FFFFFF;
  }

  // .footer__list

  &__list {
    &:not(:last-child) {
      margin-right: 90px;
      @media (max-width: $breakpoint768) {
        margin-right: 70px;
       }
     
       @media (max-width: $breakpoint480) {
        margin-right: 50px;
         
       }
    }
  }

  // .footer__item

  &__item {
    margin-bottom: 35px;
    border-bottom: 1px solid transparent;
    &:hover{
      border-bottom: 1px solid #fff;
      width: fit-content;
    }
    @media (max-width: $breakpoint768) {
     margin-bottom: 25px;
     }
   
     @media (max-width: $breakpoint480) {
      margin-bottom: 15px;
       
     }
  }

  // .footer__link

  &__link {}

  // .footer__subscribe

  &__subscribe {
    position: relative;
  }

  // .footer__bottom

  &__bottom {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    line-height: 15px;
    color: #FFFFFF;
    opacity: 0.4;
    border-top: 1px solid #F8F8F8;
    opacity: 0.1;
    @media (max-width: 600px){
      flex-direction: column;
      align-items: center;
    }
    @media (max-width: $breakpoint480){
      font-size: 12px;
    }
    
  }

  // .footer__copyright

  &__copyright {
    margin-top: 20px;
  }

  // .footer__bottom-link

  &__bottom-link {
    margin-top: 20px;
    @media (max-width: $breakpoint480){
      margin-top: 10px;
    }
  }
}

.subscribe {

  // .subscribe__title

  &__title {
    font-weight: 500;
    font-size: 18px;
    line-height: 20px;
    color: #FFFFFF;
    margin-bottom: 30px;
    @media (max-width: $breakpoint480) {
      margin-bottom: 15px;
      font-size: 16px;
    }
  }

  // .subscribe__input

  &__input {
    margin-bottom: 50px;
    background-color: #262425;
    padding-bottom: 20px;
    border-bottom: 2px solid #FFFFFF;
    max-width: 280px;
    width: 100%;
    outline: transparent;
    color: #FFFFFF;
  }

  &__button {
    background-color: #262425;
    position: absolute;
    right: 0;
    top: 55px;
    width: 25px;
    height: 25px;
    transition: all 0.3s ease 0s;

    &:hover {
      transform: translateX(10px);
    }
    @media (max-width: $breakpoint480) {
      top: 40px;
    }
  }

  // .subscribe__socials

  &__socials {
    display: flex;

  }
}

.socials {

  // .socials__item

  &__item {
    &:not(:last-child) {
      margin-right: 30px;
      @media (max-width: $breakpoint480) {
        margin-right: 15px;
      }
    }
  }

  // .socials__link

  &__link {}
}